/* You can add global styles to this file, and also import other style files */
body {
    background-color: #edeef0;
}

.box {
    box-shadow: 0 0 8px #d8dbe3;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.text-small {
    color: #6e6e6e;
    font-size: 0.9em;
}
